<!--<% if user_signed_in? %>-->
<p><%= current_user.name %>님, 안녕하세요.</p>
<p>나의 친구들</p>
<% @friends.each do |f| %>
  <ul>
    <li><%= f["name"] %></li>
  </ul>
<% end %>
<p><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?" }, class: 'btn btn-default'%></p>
<!--
<% else %>
  <p><%= link_to "로그인", new_user_session_path, class: 'btn btn-default' %></p>
  <p><%= link_to "페이스북으로 로그인", user_facebook_omniauth_authorize_path %></p>
<% end %>
-->
<!--<img src="<%=current_user.image%>" alt="User Image" height="100" width="100"> 이미지 넣는 방법-->


<div id="calendar"></div>

<script type="text/javascript">
  $('#calendar').fullCalendar({
    defaultView: 'month',
    header: {
      left: 'basicDay,basicWeek,month,listMonth',
      center: 'title',
      right: 'addEventButton today prev,next'
    },
    events: [
      {
        title : 'event',
        start : '2018-08-10',
        end : '2018-08-10',
        url : '/soomcards/pop_card/<%=current_user.id%>',
        imageurl  : '<%=current_user.image%>' //you can pass the image url with a variable if you wish different images for each event 
      }
    ],
    eventClick: function(event) {
      if (event.url) {
        window.open(event.url);
        return false;
      }
    },
    eventRender: function(event, eventElement) {
      if (event.imageurl) {
        eventElement.find(".fc-content").prepend("<img src='" + event.imageurl +"' width='16' height='16'>");
      }
    },
    customButtons: {
      addEventButton: {
        text: '숨 추가하기',
        click: function() {
//          var dateStr = prompt('Enter a date in YYYY-MM-DD format');
//          var date = moment(dateStr);

//          if (date.isValid()) {
//            $('#calendar').fullCalendar('renderEvent', {
//              title: '오늘의 숨',
//              start: date,
//              allDay: true
//            });
//            alert('Great. Now, update your database...');
//          } else {
//            alert('Invalid date.');
//          }
        }

      }
    },
    navLinks: true,
    dayClick: function(date) {
      
      alert('clicked ' + date.format());
    }
  });

// http://fullcalendar.io/docs/google_calendar/ => google calendar API 받아서 공휴일 표시.

  function eventCalendar() {
    return $('#calendar').fullCalendar({ });
  };
  function clearCalendar() {
    $('#calendar').fullCalendar('delete'); 
    $('#calendar').html('');
  };

  $(document).on('turbolinks:load', eventCalendar);
  $(document).on('turbolinks:before-cache', clearCalendar);
</script>